*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
table{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}
table tr td{
    width: 33.33%;
    height: 33.33%;
}
.cell-1 .imga{
    width: 10%;
    margin: 0 auto;
}
.tl{
    position: relative;
}
.tr{
    position: relative;
}
.bl{
    position: relative;
}
.br{
    position: relative;
}
.heading{
    position: relative;
}
.btn{
    position: relative;
}